[package]
name = "intro_rust"
version = "0.1.0"
edition = "2021"
authors = ["arshia"]

[dependencies]
rodio = { version = "0.15.0", default-features = false, features = ["wav"] }
rand = "0.8.5"
image = "0.24.1"
eframe = { git = "https://github.com/emilk/egui", branch = "master" }
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1", features = ["full"] }

