name: Rust Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-pc-windows-gnu
          - wasm32-unknown-emscripten

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v1

      - name: install linux deps
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends libasound2-dev pkg-config tree

      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target ${{ matrix.target }}
          use-cross: true

      - run: tree target/ # to find release files

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: Lilearn release!
          tag_name: beta
          generate_release_notes: true
          files: |
            target/x86_64-unknown-linux-gnu/release/lilearn
            target/wasm32-unknown-emscripten/release/lilearn
            target/x86_64-pc-windows-gnu/release/lilearn.exe
